*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 66.25%
}

@media screen and ( max-width:700px) {
    html{
        font-size: 57.25%
    }
}
@media screen and ( max-width:700px) {
    html{
        font-size: 53.25%
    }
}