.change-password{
    width: 70%;
    margin: 0px auto;
}
.change-password label{
    font-size: 1.3rem;
    font-weight: 700;
}
.change-password input[type='password']{
    color: #000000;
    font-size: 1.7rem;
}
.changepass-btn{
    background-color: #000000;
    color: #ffffff;
    outline: none;
    transition: all .5s;
}
.changepass-btn:hover{
    background-color: #ffffff;
    color: #000000;
}