.dasboard-AllTaskEmpty .img-container img{
    object-fit: contain;
    width: 100%;
    
}

.dasboard-AllTaskEmpty{

    position: relative;
    top: 50%;
    
    transform: translate(0%,-50%);
    
}
.text p{
    font-size: 3rem;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
}
.text{
    
    position: relative;
}
.img-container{
  
    position: relative;
}
@media screen and (max-width:700px) {

    .text p{
        top: 0%;
    }
    .dasboard-AllTaskEmpty .img-container img{
        margin-top: 5%;
    }
    .dasboard-AllTaskEmpty{
        height: 0px;
        top: 0%;
        margin-top: 37%;
        background-color: blueviolet;
    }
}