.offcanvas-start{
    width: 50%!important;
   
}
.offcanvas-shadow{
    position: absolute;
    background-color: rgb(0,0,0,.3);
    z-index: 1039;
    width: 200%;
    height: 170%;
}
.offcanvas-wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
}
@media screen and (max-width:400px) {
    .offcanvas-shadow{
        width: 230%;
    }
}